In [9]:
def info(nam ="Default name is user not write his name" ,age= 123): 
    return f"my name is {nam},age {age}"

In [11]:
info(nam="ali",age=4) #key word argument

'my name is ali,age 4'

In [12]:
def f(*name): # we can add a lot of variables
    print(name)
    print(type(name))

In [13]:
f("d","3",2,2,34)

('d', '3', 2, 2, 34)
<class 'tuple'>

In [11]:
info()

'my name is Default name is user not write his name,age 123'

In [14]:
def dicy(**n):
    print(n)
    print(type(n))

In [15]:
dicy(name="ali", age="as")

{'name': 'ali', 'age': 'as'}
<class 'dict'>

In [17]:
x=int(input("enter n1"))
y=int(input("enter n2"))

def sum(x,y):
    return x+y

sum(x,y)

3

In [21]:
# --- Helper Functions (Implied but not shown in image) ---
def sum(x, y):
    return x + y

def sub(x, y):
    return x - y

def mul(x, y):
    return x * y

def div(x, y):
    if y == 0:
        return "Error! Division by zero"
    return x / y

# --- Main Function (Shown in image) ---
def main():
    while True:
        print("\n Calculator")
        print("1. sum")
        print("2. sub")
        print("3. mul")
        print("4. div")
        # Note: Option 5 is hidden in the menu but works in the code
        
        choice = input("Enter your choice: ")

        if choice == '5':
            print("calc stopped")
            break

        # We convert to float to handle decimals
        a = float(input("enter first number: "))
        b = float(input("enter second number: "))

        if choice == '1':
            print("Result: ", sum(a, b))
        elif choice == '2':
            print("Result: ", sub(a, b))
        elif choice == '3':
            print("Result: ", mul(a, b))
        elif choice == '4':
            print("Result: ", div(a, b))
        else:
            print("invalid choice")

if __name__ == "__main__":
    
    main()

 Calculator
1. sum
2. sub
3. mul
4. div
Result:  25.0

 Calculator
1. sum
2. sub
3. mul
4. div
calc stopped

In [19]:
# main.py

from prices import g

print(f"offer {g(100)}")

offer 10.0

In [42]:
# lambda function 
# we use it in run time 
r = lambda x :x+10
print(r(10))
print(r)
# i will need to know lamnda

20
<function <lambda> at 0x7987f9704b80>

In [ ]:
employees = [
  {"name": "Ahmed", "age": 35}, 
  {"name": "Sara", "age": 22}, 
  {"name": "Omar", "age": 29}
]

# We use the 'key' argument and a lambda function
# 'x' represents each dictionary in the list
employees.sort(key=lambda x: x["age"])

print(employees)
# Output: [{'name': 'Sara', 'age': 22}, {'name': 'Omar', 'age': 29}, {'name': 'Ahmed', 'age': 35}]

In [ ]:
products = [("Laptop", 1200), ("Mouse", 25), ("Monitor", 300)]

# Sort by price (the second element in each tuple)
products.sort(key=lambda item: item[1])

print(products)
# Output: [('Mouse', 25), ('Monitor', 300), ('Laptop', 1200)]

In [46]:
b = lambda x,y ,z: x+y+z
c = lambda a,b,c : a*b*c

print(b(1,2,3))
print(c(2,2,2))

6
8