First Code

In [9]:
print("HELLO world")
print("Ahmed with DEPI")
# WE ARE CODEING

HELLO world
Ahmed with DEPI

In [ ]:

# how to add comment "ctrl + ?"
'''
LONG COMMENT
'''

5.5

In [1]:
x= 10 
y=20
print("value of x", x,"value of y",y)
print(type(x))
print("THE value of x is {} and the value of y is {}".format(x,y))
# index of x is o and y is 1 
print(f"value of x is {x} and value of y is{y}")
# f is format function 
approve= True
print(f"the value of approve is {approve}")

value of x 10 value of y 20
<class 'int'>
THE value of x is 10 and the value of y is 20
value of x is 10 and value of y is20
the value of approve is True

In [15]:
MY_NAME= "Ahmed Wael "
course_name = "data enginer"
id = 123
print(f"my name is {MY_NAME} And my course name is {course_name} , my id is {id}")

my name is Ahmed Wael  And my course name is data enginer , my id is 123

In [19]:
Name="depi learning"
print(Name[-10])
print(Name[0:10])

i
depi learn

Make all letters uppercase
The .upper() method converts all characters in the string to uppercase.

In [ ]:
name = "welcome into data engineer course"
print(name.upper()) 
# Output: WELCOME INTO DATA ENGINEER COURSE

Make the first letter of every word uppercase
The .title() method converts the first character of each word to uppercase.

In [ ]:
name = "welcome into data engineer course"
print(name.title())
# Output: Welcome Into Data Engineer Course

Make only the first letter of the sentence uppercase
The .capitalize() method converts the first character of the string to uppercase and the rest to lowercase.

In [ ]:
name = "welcome into data engineer course"
print(name.capitalize())
# Output: Welcome into data engineer course

Make all letters lowercase
The .lower() method converts all characters in the string to lowercase.

In [ ]:
name = "WELCOME INTO DATA ENGINEER COURSE"
print(name.lower())
# Output: welcome into data engineer course

DATA STRUCTURE
LIST 
DICTIONARY 
SET
TUPLE

In [3]:
print("HELLO world")

HELLO world

In [4]:
nam = "amit shukla"
cut=nam[0:4]
print(cut)

amit