First Code

In [9]:
print("HELLO world")
print("Ahmed with DEPI")
# WE ARE CODEING

HELLO world
Ahmed with DEPI

In [ ]:

# how to add comment "ctrl + ?"
'''
LONG COMMENT
'''

5.5

In [ ]:
# format function

In [ ]:
X= 10 
y=20
print("value of x", X,"value of y",y)
print(type(x))
print("THE value of x is {} and the value of y is {}".format(x,y))
# index of x is o and y is 1 
print(f"value of x is {x} and value of y is{y}")
# f is format function

value of x 10 value of y 20
<class 'float'>
THE value of x is 5.5 and the value of y is 20
value of x is 5.5 and value of y is20

In [15]:
MY_NAME= "Ahmed Wael "
course_name = "data enginer"
id = 123
print(f"my name is {MY_NAME} And my course name is {course_name} , my id is {id}")

my name is Ahmed Wael  And my course name is data enginer , my id is 123