count  function  > show the counts
splete function >  create a list

In [3]:
sent_1 = "depi learning depi is fun"
print(sent_1.count("depi"))  # Output: 2
print(sent_1.split())        # Output: ['depi', 'learning', 'depi', 'is', 'fun']

2
['depi', 'learning', 'depi', 'is', 'fun']

join function

In [4]:
sent_new= ["Ahmed", "is", "a", "data", "engineer"]
print(" ".join(sent_new))

Ahmed is a data engineer

startwith function vs endwith Function

In [5]:
name = "amit learning amit learning"
print(name.startswith("Hello"))
print(name.endswith("learning"))

False
True

Escape Characters
new line
\n
douple quote
\"   text \"

tab
\t

In [6]:
print("Ahmed \n Data Engineer")
print("Ahmed \t Data Engineer")
print("Ahmed \" Data Engineer \"")

Ahmed
 Data Engineer
Ahmed 	 Data Engineer
Ahmed " Data Engineer "

list_1  changable date : can be update the diffrence between tuple is unchanagable
list and tuple  is "ordered data" can indexing each item , "allow duplicate"
LIST  USE []
TUPLE USE ()

In [ ]:
list_1 = ["data", "engineer", "is", "good", [1, 2, 3, 4,True,["ML", "DL"]]]

#find DL in the nested list
DL_IN = list_1[4][5][1]
print(DL_IN)  # Output: DL
#make string to list
chang_tex_to_list = list("DataEngineer")
print(chang_tex_to_list)
#append to list at the end
list_1.append("Welcome")
list_1.append(2025)
print(list_1)
#list insert at specific index
list_1.insert(2, "Welcome to")
print(list_1)
#extend list with another list like append but for multiple values at once 
list_2 = ["Element1", "Element2"]
# extend accepts a single iterable; combine the lists into one iterable
list_1.extend(["New Element1", "New Element2"] + list_2)
list_1.extend(list_2)
list_2.extend("mo")
print(list_2)
print(list_1)

# dunction delete list element by value
list_1.remove("Welcome") # Removes the first occurrence of "Welcome" specified by value , output of remove is None not print the modified list  
print(list_1)
del list_1[3]  # Deletes the element at index 3
print(list_1)
# pop function delete list element by index and return the deleted value
popped_value = list_1.pop(4)  # Removes and returns the element at index 4 , default is -1 last element 
print("Popped Value:", popped_value)
print(list_1)

tuple_1 = ("data", "engineer", "is", "good", (1, 2, 3, 4,False,("ML", "DL")))
#find DL in the nested tuple
DL_IN_TUPLE = tuple_1[4][5][1]
print(DL_IN_TUPLE)  # Output: DL

DL
['D', 'a', 't', 'a', 'E', 'n', 'g', 'i', 'n', 'e', 'e', 'r']
['data', 'engineer', 'is', 'good', [1, 2, 3, 4, True, ['ML', 'DL']], 'Welcome', 2025]
['data', 'engineer', 'Welcome to', 'is', 'good', [1, 2, 3, 4, True, ['ML', 'DL']], 'Welcome', 2025]
['Element1', 'Element2', 'm', 'o']
['data', 'engineer', 'Welcome to', 'is', 'good', [1, 2, 3, 4, True, ['ML', 'DL']], 'Welcome', 2025, 'New Element1', 'New Element2', 'Element1', 'Element2', 'Element1', 'Element2']
['data', 'engineer', 'Welcome to', 'is', 'good', [1, 2, 3, 4, True, ['ML', 'DL']], 2025, 'New Element1', 'New Element2', 'Element1', 'Element2', 'Element1', 'Element2']
['data', 'engineer', 'Welcome to', 'good', [1, 2, 3, 4, True, ['ML', 'DL']], 2025, 'New Element1', 'New Element2', 'Element1', 'Element2', 'Element1', 'Element2']
Popped Value: [1, 2, 3, 4, True, ['ML', 'DL']]
['data', 'engineer', 'Welcome to', 'good', 2025, 'New Element1', 'New Element2', 'Element1', 'Element2', 'Element1', 'Element2']

Set is "Data unorderd" "unchangeable data"
Dictionarey is "order" ,"changable"

set and Dictionary not allow "duplicate"
 to represent  set()
 to represent dictionary by {}

In [ ]:
set_1 = {"data", "engineer", "is", "good", 1, 2, 3, 4, True, ("ML", "DL")}
dictionary_1 = {
    "name": "Ahmed",
    "role": "Data Engineer",
    "skills": ["Python", "SQL", "ETL"],
    "experience": 5
}

input function

In [22]:
a = input("Enter a number: ")
print("You entered:", int(a))

You entered: 4

task 1 a list ["a","b","c"]
user input to choose item to remove
print the list after removed

In [23]:
list_t= [1,2,3,4,5,6,7,8,9,10]
remov_Number= input("Enter number to remove: ")
list_t.remove(int(remov_Number))
print("Updated list:", list_t)

Updated list: [1, 2, 3, 4, 5, 6, 7, 8, 10]